*.backup
.vscode/
*~
src/wrapper2/headers/*
src/wrapper2/temp/*
src/wrapper2/acme.py
experiments/lib/nimcache
experiments/wrapper2/nimcache


/examples/*
!/examples/*.*
/examples/.cache/
!/examples/* */
!/examples/api
/examples/api/borrame

!examples/tutorials

examples/tutorials/occt_tutorial/*
!examples/tutorials/occt_tutorial/*.nim

examples/tutorials/occtutorials_wordpress/*
!examples/tutorials/occtutorials_wordpress/*.nim


